body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #f4f4f4;
    padding: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    text-decoration: underline;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center; /* Alinha o texto e imagem no centro do card */
}

.card-img {
    max-width: 100%; /* Faz com que a imagem ocupe no máximo a largura do card */
    height: auto;    /* Mantém a proporção da imagem */
    border-radius: 8px; /* Adiciona bordas arredondadas à imagem */
    margin-top: 10px;  /* Espaço acima da imagem */
}

.card h4 {
    margin-top: 0;
}

.card p {
    margin-bottom: 0;
}
.img{
    width: 250px;
}
